<footer class="bar view-bar-footer ac_wrap">
	
	<section class="sFooter">
		<ul class="sFooter_u" ng-controller="bbsActCtrl">
			<li class="first"><a href="javascript:;" ng-click="bbs_like();">좋아요</a></li>
			<li class="second"><a href="javascript:;" ng-click="bbs_comment();">댓글</a></li>
			<li class="third"><a href="javascript:;" ng-click="bbs_scrap();">스크랩</a></li>
			<li class="last"><a href="javascript:;" ng-click="bbs_share_open();">공유</a></li>
		</ul>
	</section>



</footer>
</body>
</html>