<div ng-include="'templates/sHeader.html'"></div>

<ion-content lazy-scroll class="view-icon-content2">
	<div class="ac_wrap sub_content">

		<div class="news_view_wrap join_wrap">
			<div class="row responsive-sm title">
				<h3 class="col ">사용중인 이메일로 편리하게 가입해보세요.</h3>
			</div>
			<ul class="row responsive-sm">
				<li class="col">
					<a ui-sref="join_2({joinType: 2})"><img image-lazy-src="./img/sub/join/img_t_1.gif" lazy-scroll-resize="true" image-lazy-loader="dots" /></a>
				</li>
				<li class="col">
					<a ui-sref="join_2({joinType: 1})"><img image-lazy-src="./img/sub/join/img_t_2.gif" lazy-scroll-resize="true" image-lazy-loader="dots" /></a>
				</li>
				<li class="col">
					<a ui-sref="join_2({joinType: 3})"><img image-lazy-src="./img/sub/join/img_t_3.gif" lazy-scroll-resize="true" image-lazy-loader="dots" /></a>
				</li>
				<li class="col">
					<a ui-sref="join_2({joinType: 5})"><img image-lazy-src="./img/sub/join/img_t_4.gif" lazy-scroll-resize="true" image-lazy-loader="dots" /></a>
				</li>
				<li class="col">
					<a ui-sref="join_2({joinType: 7})"><img image-lazy-src="./img/sub/join/img_t_5.gif" lazy-scroll-resize="true" image-lazy-loader="dots" /></a>
				</li>
				<li class="col">
					<a ui-sref="join_2({joinType: 8})"><img image-lazy-src="./img/sub/join/img_t_6.gif" lazy-scroll-resize="true" image-lazy-loader="dots" /></a>
				</li>
			</ul>
		</div>
 
	</div><!-- .subcontent -->
	
</ion-content>