<div ng-include="'templates/sHeader.html'"></div>

<ion-content lazy-scroll class="view-icon-content2">
	<div class="ac_wrap sub_content">

		<div class="wt_title_img">
			<img image-lazy-src="./img/sub/webtoon/title.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
		</div>

		<div class="webtoon_desc">
			<h3>앨리스의 좌충우돌 건축이야기</h3>

			<div class="writer_info">
				글 / <span>아키타임즈</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  그림 / <span>김경민</span>
			</div>

			<div class="desc_info">
				앨리스는 집을 짓고 싶어 했지만 어디서부터 어떻게<br/>
				시작해야하지 몰라 답답하기만 했다.<br/>
				그러던 어느날,<br/>
				앨리스는 건축에 대해 모르는 게 없는 시계토끼를<br/>
				만나 건축에 대해 하나 둘씩 알아가게 되는데...
			</div>

			<div class="view_w1">
				<a ui-sref="webtoon-view({intId: 0})" class="ac_btn blue active">첫화보기</a></li>
			</div>
		</div>

		<div class="news_list_wrap">
			<ul class="webtoon_list">
				<li class="active" ui-sref="webtoon-view({intId: 0})" >
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P0_1.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>INTRO.</dt>
								<dd>
									<div class="bc_tit"><!-- Chapter 1# --></div>
									<div class="bc_con">등장인물 설명과 첫만남</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li class="active" ui-sref="webtoon-view({intId:11})">
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P1_1.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>PART1. 건축계획</dt>
								<dd>
									<div class="bc_tit">Chapter 1#</div>
									<div class="bc_con">내 땅의 사용설명서 라구?</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li class="active" ui-sref="webtoon-view({intId:12})">
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P1_2.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>PART1. 건축계획</dt>
								<dd>
									<div class="bc_tit">Chapter 2#</div>
									<div class="bc_con">공사비에 대한 개념</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li class="active" ui-sref="webtoon-view({intId:21})">
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P2_1.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>PART2. 설계</dt>
								<dd>
									<div class="bc_tit">Chapter 1#</div>
									<div class="bc_con">설계가 뭐가 중요해?</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li class="active" ui-sref="webtoon-view({intId:22})">
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P2_2.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>PART2. 설계</dt>
								<dd>
									<div class="bc_tit">Chapter 2#</div>
									<div class="bc_con">건축사는 어디에서 찾지?</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li class="active" ui-sref="webtoon-view({intId:23})">
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P2_3.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>PART2. 설계</dt>
								<dd>
									<div class="bc_tit">Chapter 3#</div>
									<div class="bc_con">설계에 적극 참여하자</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li class="active" ui-sref="webtoon-view({intId:31})">
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P3_1.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>PART3. 건축허가</dt>
								<dd>
									<div class="bc_tit">Chapter 1#</div>
									<div class="bc_con">건축허가와 비용</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>

				<li class="active" ui-sref="webtoon-view({intId:41})">
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P4_1.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>PART4. 견적</dt>
								<dd>
									<div class="bc_tit">Chapter 1#</div>
									<div class="bc_con">뭐? 평당 얼마라고?</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li class="active" ui-sref="webtoon-view({intId:42})">
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P4_2.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>PART4. 견적</dt>
								<dd>
									<div class="bc_tit">Chapter 2#</div>
									<div class="bc_con">시공사의 자기소개서 [지명원을 확인하자</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li class="active" ui-sref="webtoon-view({intId:43})">
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P4_3.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>PART4. 견적</dt>
								<dd>
									<div class="bc_tit">Chapter 3#</div>
									<div class="bc_con">수량산출서와 공내역서</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>

				<li ng-class="{'active': isActive}" ui-sref="webtoon-view({intId:51})">
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P5_1.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>PART5. 시공자 선정</dt>
								<dd>
									<div class="bc_tit">Chapter 1#</div>
									<div class="bc_con">어떤 시공자를 골라야 할까?</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>

				<li ng-class="{'active': isActive}" ui-sref="webtoon-view({intId:52})">
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P5_2.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>PART5. 시공자 선정</dt>
								<dd>
									<div class="bc_tit">Chapter 2#</div>
									<div class="bc_con">드디어 쓴다! 계약서!</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>

				<li ng-class="{'active': isActive}" ui-sref="webtoon-view({intId:61})">
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P6_1.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>PART6. 착공신고</dt>
								<dd>
									<div class="bc_tit">Chapter 1#</div>
									<div class="bc_con">착공신고</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>

				<li ng-class="{'active': isActive}" ui-sref="webtoon-view({intId:71})">
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P7_1.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>PART7. 시공</dt>
								<dd>
									<div class="bc_tit">Chapter 1#</div>
									<div class="bc_con">공사대금은 언제 주나?</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>

				<li ng-class="{'active': isActive}" ui-sref="webtoon-view({intId:72})">
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P7_2.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>PART7. 시공</dt>
								<dd>
									<div class="bc_tit">Chapter 2#</div>
									<div class="bc_con">건축주가 할 일과 설계변경</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>

				<li ng-class="{'active': isActive}" ui-sref="webtoon-view({intId:81})">
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P8_1.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>PART8. 사용승인</dt>
								<dd>
									<div class="bc_tit">Chapter 1#</div>
									<div class="bc_con">준공? 사용승인?</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>

				<li ng-class="{'active': isActive}" ui-sref="webtoon-view({intId:82})">
					<div class="webtoon_info">
						<div class="webtoon_thumb">
							<img image-lazy-src="./img/sub/webtoon/bnr_thum_P8_2.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
						</div>
						<div class="profile_info">
							<dl class="bc_info_contact">
								<dt>PART8. 사용승인</dt>
								<dd>
									<div class="bc_tit">Chapter 2#</div>
									<div class="bc_con">완공 후 남은 시공비. 다 주자니 불안하다구?</div>
								</dd>
							</dl>
						</div>
					</div>
				</li>

			</ul>

			<div class="bbs_more">
				<a href="javasciprt:;" ng-click="activeButton();"><span>건축이야기</span> 더보기<div class="more_bg"><span class="screen_out">more</span></div></a>
			</div>
		</div>

		<div ng-include="'templates/a_banner.html'"></div>

	</div><!-- .subcontent -->

	<div ng-include="'templates/footer.html'"></div>
</ion-content>

