<ion-modal-view class="" ng-controller="eventCtrl">


<div class="bar bar-header">
  <div class="h1 title">이벤트</div>
  <button class="button button-clear button-positive" ng-click="event_close();">닫기</button>
</div>

<ion-content lazy-scroll class="view-icon-content2">

	<div class="row responsive-sm event_modal">
		<div class="col title">
			<img image-lazy-src="./img/sub/event/img_title_modal.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
		</div>
		<div class="list col">
		  <label class="item item-input">
		    <span class="input-label">이름</span>
		    <input type="text" ng-model="data.strName">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">전화번호</span>
		    <input type="text" ng-model="data.strTel">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">지역</span>
		    <select ng-model="data.strArea">
		    	<option value="서울">서울</option>
			<option value="경기">경기</option>
			<option value="인천">인천</option>
			<option value="대전">대전</option>
			<option value="대구">대구</option>
			<option value="부산">부산</option>
			<option value="울산">울산</option>
			<option value="광주">광주</option>
			<option value="충북">충북</option>
			<option value="충남">충남</option>
			<option value="강원">강원</option>
			<option value="경북">경북</option>
			<option value="경남">경남</option>
			<option value="전북">전북</option>
			<option value="전남">전남</option>
			<option value="제주">제주</option>
		    </select>
		  </label>
		</div>
		<div class="col">
			<button class="button button-clear button-full event_req_btn"  ng-click="request()" >건축강의 신청하기</button>
		</div>
	</div>

</ion-content>
</ion-modal-view>