<div ng-include="'templates/sHeader.html'"></div>

<ion-content class="view-icon-content2">
	<div class="ac_wrap sub_content">

		<ul class="travel_m_list">
			<li><a ui-sref="ando"><img src="./img/sub/img_travel_m1.jpg" alt="" /></a></li>
			<li><a ui-sref="newyork"><img src="./img/sub/img_travel_m2.jpg" alt="" /></a></li>
			<li><a ui-sref="chicago"><img src="./img/sub/img_travel_m3.jpg" alt="" /></a></li>
			<li><a ui-sref="toronto"><img src="./img/sub/img_travel_m4.jpg" alt="" /></a></li>
			<li class="last"><a ui-sref="barca"><img src="./img/sub/img_travel_m5.jpg" alt="" /></a></li>
		</ul>


		<div ng-include="'templates/a_banner.html'"></div>
	 
	</div><!-- .subcontent -->

	<div ng-include="'templates/footer.html'"></div>
</ion-content>

