<div ng-include="'templates/sHeader.html'"></div>

<ion-content lazy-scroll class="view-icon-content2">


		<div class="row responsive-sm event_view">
			<div class="col bg">
				<img image-lazy-src="./img/sub/event/bg_event.jpg" lazy-scroll-resize="true" image-lazy-loader="dots" />
				<button class="event_btn" ng-click="event_open()">
					<img image-lazy-src="./img/sub/event/btn_event.png" lazy-scroll-resize="true" image-lazy-loader="dots" />
				</button>
			</div>
			
		</div>
 
	
</ion-content>