<ion-view view-title="Social Login">
  <ion-content>


<form ng-submit="socialLogin()">
	<div class="list">
		<label class="item item-input item-floating-label">
			<span class="input-label">Username</span>
			<input type="text" placeholder="Username">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Password</span>
			<input type="password" placeholder="Password">
		</label>
		<label class="item">
			<button class="button button-block button-dark" type="submit">Log in</button>
		</label>
		<label class="item">
			<button class="button button-block button-positive" ng-click="fbLogin();">페이스북</button>
		</label>
		<label class="item">
			<button class="button button-block button-energized" ng-click="kakaoLogin();">카카오톡</button>
		</label><label class="item">
			<button class="button button-block button-energized" ng-click="kakaoLogout();">카카오톡 로그아웃</button>
		</label>
		<label class="item">
			<button class="button button-block button-balanced" type="submit">네이버</button>
		</label>
	</div>
</form>


</ion-content>
</ion-view>